In [ ]:
print("Hello world")

Hello world

In [ ]:
def oke(n):
    if n%2 == 1 or 6 <= n <= 20:
        print("weird")
    else:
        print("not weird")
        
oke(int(input()))

2
not weird

In [ ]:
a, b = int(input()), int(input())
print("",(a+b),(a-b),(a*b),sep='\n')

1
2

3
-1
2

In [ ]:
a, b = int(input()), int(input())
print("", a//b, a/b, sep='\n')

3
2

1
1.5

In [ ]:
for i in range(int(input())):
    print(i**2)

4
0
1
4
9

In [ ]:
def is_leap(year):
    leap = False
    if year % 4 == 0 and (year % 400 == 0 or year % 100 != 0):
            leap = True
    return leap

print(is_leap(int(input())))

2000
True

In [ ]:
def set_unique(list1):
    list_set = set(list1)
    print(sorted(list_set))
    print(len(sorted(list_set)))

def unique(list1):
    unique_list = []
    for x in list1:
        if x not in unique_list:
            unique_list.append(x)
    print(unique_list)
    print(len(unique_list))
    
list1 = [10, 20, 10, 30, 40, 40]
set_unique(list1)
print(" ")
unique(list1)

[10, 20, 30, 40]
4

[10, 20, 30, 40]
4

In [ ]:
arr = ["1, 3, 4, 7, 13", "1, 2, 4, 13, 15"]
sorted(set([int(x.strip()) for a in arr for x in a.split(",")]))

[1, 2, 3, 4, 7, 13, 15]

In [ ]:
c = [a.strip() for a in arr[0].split(",")]
d = [a.strip() for a in arr[1].split(",")]

In [ ]:
[val for val in c if val in d]

['1', '4', '13']

In [ ]:
set(arr[0].split(","))

{' 13', ' 3', ' 4', ' 7', '1'}

In [ ]:
### https://coderbyte.com/editor/Find%20Intersection:Python3

## Find Intersection
def FindIntersection(strArr):
    # code goes here
    arr1 = set([int(a.strip()) for a in strArr[0].split(",")])
    arr2 = set([int(a.strip()) for a in strArr[1].split(",")])
    
    preresult = sorted(list(arr1.intersection(arr2))) ## method perform only for array
    result = [str(x) for x in preresult]
    
    return ",".join(result) if len(result) > 0 else False

# keep this function call here 
# print(FindIntersection(input()))

In [ ]:
## find intersection traditional, input int

def intersection(list1, list2):
    return [val for val in list1 if val in list2]

def intersection2(list1, list2):
    return list(set(list1) & set(list2))

def intersection3(list1, list2):
    return set(list1).intersection(list2)

lst1 = [4, 9, 1, 17, 11, 26, 28, 54, 69]
lst2 = [9, 9, 74, 21, 45, 11, 63, 28, 26]
print(intersection(sorted(lst1), sorted(lst2)))
print(intersection2(sorted(lst1), sorted(lst2)))
print(intersection3(sorted(lst1), sorted(lst2)))

[9, 11, 26, 28]
{1, 4, 69, 9, 11, 17, 54, 26, 28}
[9, 26, 11, 28]
{9, 26, 11, 28}

In [ ]:
##### Exercise

In [ ]:
### Sum to a number
# Time Complexity: O(N)
# Space Complexity: O(N)

data = [ 2, 5, 7, 3 ]
target = 10

def problem_1(data, target):
  num_dict = {}
  data_length = len(data)
  for i in range(0, data_length):
    other_num = target - data[i]
    print(i)
    if (other_num in num_dict):
      return [num_dict[other_num], i]
    num_dict[data[i]] = i

print(problem_1(data, target))

0
1
2
3
[2, 3]

In [ ]:
## find duplicates
data = [ 2, 2, 3, 4 ,5 ]

def problem_2(data):
  num_dict = {}
  for el in data:
    num_dict[el] = num_dict.get(el, 0) + 1
  return [value for key, value in num_dict.items() if value == 2]

print(problem_2(data))

[2]

In [ ]:
## Move element aside
data = [ 0, 1, 0, 3, 2, 5 ]

def problem_3(arr):
  i = 0
  j = len(arr)
  for el in arr:
    if (el != 0):
      arr[i] = el
      i += 1
  for k in range(i, j):
    arr[k] = 0
  return arr

print(problem_3(data))

[1, 3, 2, 5, 0, 0]

In [ ]:
### Longest substring
data = "abcaabcdaabcef"

def problem_solution(data):
  char_dict = {}
  left_point = 0
  right_point = 0
  substring_length = 0
  datastring_length = len(data)

  while (left_point < datastring_length and right_point < datastring_length):
    element = data[right_point]
    if (element in char_dict):
      left_point = max(left_point, char_dict[element] + 1)
    char_dict[element] = right_point
    substring_length = max(substring_length, right_point - left_point + 1)
    right_point += 1
  
  return substring_length

print(problem_solution(data))

{'a': 9, 'b': 10, 'c': 11, 'd': 7, 'e': 12, 'f': 13}
5

In [ ]:
# PROBLEM: Given an array of people weight and
# and integer as limit capacity of each boat,
# return the minimum number of boats to carry
# all people.
# Weight = [ 2, 1, 3, 2], limit = 2
## Boats to people
data = [2, 1, 3, 2]
limit = 2

def problem_solution(data, limit):
    data.sort()
    left_point = 0
    right_point = len(data) - 1
    boat_need = 0

    while(left_point <= right_point):
        if(left_point == right_point):
            boat_need += 1
            break
        if(data[left_point] + data[right_point] <= limit):
            left_point += 1
        right_point -= 1

    return boat_need

print(problem_solution(data, limit))

1

In [ ]:
## with python module
def anagram(s1, s2):
  return sorted(s1.replace(" ","").lower()) == sorted(s2.replace(" ","").lower())

anagram( "Clint Eastwood",  "Old West Action")

## without python module
def anagram2(s1, s2):
  s1_new = [letter.lower() for letter in s1 if letter != " "]
  s2_new = [letter.lower() for letter in s2 if letter != " "]
  if len(s1_new) != len(s2_new):
    return False
  else:
    d_s1 = {letter:s1_new.count(letter) for letter in s1_new}
    d_s2 = {letter:s2_new.count(letter) for letter in s2_new}
  return d_s1 == d_s2

anagram2( "Clint Eastwood",  "Old West Action")

### without count module
cnt1 = {}
cnt2 = {}
def anagram3(s1, s2):
  s1_new = [letter.lower() for letter in s1 if letter != " "]
  s2_new = [letter.lower() for letter in s2 if letter != " "]
  if len(s1_new) != len(s2_new):
    return False
  else:
    for letter in s1_new:
      if letter in cnt1:
        cnt1[letter] += 1
      else: cnt1[letter] = 1
    
    for letter in s2_new:
      if letter in cnt2:
        cnt2[letter] += 1
      else: cnt2[letter] = 1
  return cnt1 == cnt2

In [ ]:
## array algorithm
data = [1, 3, 2, 2, 5, -1]
target = 4

def pair_sum(data, target):
  dict_ = {}
  total = []
  for i in range(len(data)):
    other_num = target - data[i]
    if other_num in dict_:
      total.append((other_num, data[i]))
    dict_[data[i]] = i
  for el in total:
    print(el)
pair_sum(data, target)
print()

##### ORR #### (another approach, not the best approach)
def pair_sum2(data, target):
  if len(data) == 1:
    print("Not possible")
  else:
    for i in range(len(data)-1):
      if data[i] + data[i+1] == target:
        print("({0}, {1})".format(data[i], data[i+1]))

pair_sum2(data, target)
print()

##### ORR ####
def pair_sum3(array, k):
    if len(array) < 2:
        return print("Too small")
    seen = set()
    output = set()
    for num in array:
        target = k - num
        if target not in seen:
            seen.add(num)
        else:
            output.add((min(num, target), max(num, target)))
    print('\n'.join(map(str, list(output))))
pair_sum3(data, target)

(1, 3)
(2, 2)
(5, -1)

(1, 3)
(2, 2)
(5, -1)

(1, 3)
(-1, 5)
(2, 2)

In [ ]:
## Largest sum
def largest(a):
  if len(a) == 0:
    return "Empty array"
  max_sum = current_sum = a[0]
  for num in a[1:]:
    current_sum = max(current_sum + num, num)
    max_sum = max(current_sum, max_sum)
  return max_sum

print(largest([7, 1, 2, -1, 3, 4, 10, -12, 3, 21, -19]))

38

In [ ]:
## Reverse all the word
def rev_str(s):
  if len(s.split()) == 1:
    return s
  return [rev for rev in list(s.split())[::-1]]

rev_str("This is the best")

['best', 'the', 'is', 'This']

In [ ]:
## Array anaysis (Array rotation)

def rotation(list1, list2):
  if len(list1) != len(list2):
    return False
  key = list1[0]
  key_index = 0
  for i in range(len(list2)):
    if list2[i] == key:
      key_index = i
      break
  if key_index == 0:
    return False
  for x in range(len(list1)):
    l2_idx = (key_index + x) % len(list1)
    if list1[x] != list2[l2_idx]:
      return False
  return True

rotation([1,2,3,4,5], [4,5,1,2,3])

True

In [ ]:
## Array common elements
def common_el(a1, a2):
  if not a1 or not a2:
    return "One or both arrays are empty"
  return sorted(list(set(a1).intersection(a2)))
print(common_el([1,3,4,6,7,9], [1,2,4,5,9,10]))
print(common_el([], [1,2,4,5,9,10]))

[1, 4, 9]
One or both arrays are empty